html, body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #2c2c2f;
}

a {
    text-decoration: none;
    color: greenyellow;
}

/* primeiro definimos a estrutura de colunas do site */
.page-container {
    display: grid;
    gap: 10px;
    grid-template-columns: minmax(150px,250px) 4fr 1fr;
    padding: 10px;
}

/* depois posicionamos cada item na coluna que irá ocupar */
aside {
    grid-column: 1;
    grid-row: 2 / 4;
}

a:hover {
    text-decoration: underline;
}

header {
    grid-column: 1 / 4;
    text-align: center;
}

nav > a {
    padding: 10px 20px;
    border-radius: 15px;
}

nav > a:hover {
    background-color: greenyellow;
    color: black;
    text-decoration: none;
}

main {
    grid-column: 2;
    grid-row: 3;
}

.intro {
    grid-column: 2;
    grid-row: 2;
}

/* criamos outro display grid, para especificar quantas colunas terá aqui dentro */
.blog-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* usamos o first-child, para pegar o primeiro filho article, no caso o post que ocupa 2 colunas */
.blog-posts > article:first-child {
    grid-column: span 2;
}

/* colocamos um tamanho automatico paras as imagens, e que ocupem 100% da largura da coluna */
img {
    border-radius: 10px;
    height: auto;
    width: 100%;
}

footer {
    padding-top: 50px;
    grid-column: span 3;
    text-align: center;
}

