/* LEMBRE-SE DE NÃO COMETER O ERRO, de tentar usar um grid-template-area, grid-template-columns e  grid-template-rows para cada item que quer estilizar.

FOQUE NOS PRINCIPAIS, como por exemplo abaixo: header, sidebar, content e footer.

DEPOIS estilize o conteúdo de cada grid principal...

POIS VOCÊ PODE UTILIZAR GRID DENTRO DE GRID!!!!!*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --cor-primaria: #4C6DAF; 
    --cor-secundaria: #CCCCCC;
    --cor-cinza: #2C2C2D;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;

    /* definimos as areas de cada item se baseando nos blocos principais, errei ao tentar fazer as colunas e linhas baseado em cada item do html ex: (header, sidebar, cards 1 ao 4, charts, tabela */
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas: 
    "header  header"
    "sidebar content"
    "sidebar footer";
}


header {
    grid-area: header;
    background-color: var(--cor-primaria);
    color: white;
    align-content: center;
    font-size: 18px;
    padding-left: 10px;
}

.sidebar {
   grid-area: sidebar;
   background-color: var(--cor-cinza);
   padding: 10px;
;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.content {
    grid-area: content;
    background-color: var(--cor-secundaria);
}

/* definimos o grid para a stats-section que faz parte do grid content */
.stats-section {
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: repeat(4, max-content);

}

.card1, .card2, .card3, .card4 {
    background-color: white;
    margin: 10px;
    padding: 10px;
    height: 100px;
    align-content: center;
    text-align: center;
}

/* definimos o grid charts que também faz parte do grid content */
.charts {
    display: grid;
    grid-template-areas: 
    "gr1 gr2 gr3"
    "gr4 gr4 gr4";
    gap: 10px;
    background-color: white;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 10px 10px;
}

.chart-section > h2 {
    background-color: white;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
}

#chart1 {
    grid-area: gr1;
    background-color: var(--cor-secundaria);
    height: 200px;
    text-align: center;
}

#chart2 {
    grid-area: gr2;
    background-color: var(--cor-secundaria);
    text-align: center;
}

#chart3 {
    grid-area: gr3;
    background-color: var(--cor-secundaria);
    text-align: center;
}

#chart4 {
    grid-area: gr4;
    height: 200px;
    background-color: var(--cor-secundaria);
    text-align: center;
}

.chart-placeholder {
    align-content: center;
}

table {
    border-collapse: collapse; /*Faz com que as bordas das células da tabela se "fundam" em uma única borda. Sem isso, as células da tabela teriam bordas separadas, criando um espaço entre elas.*/
    width: 99%;
    margin: 10px;
}

.table-section {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

table th {
    background-color: var(--cor-primaria);
    color: white;
}

table th, td{
    text-align: left;
    padding: 10px;
    box-shadow: 1px 1px var(--cor-secundaria);
}

td:hover {
    background-color: var(--cor-secundaria);
}

footer {
    grid-area: footer;
    text-align: center;
    background: #2c3e50;
    color: white;
    align-content: center;
}