.btn {
    width: 125px;
    padding: 10px 0px;
    border-radius: 20px;
    display: block;
    margin-top: 10px;


    &.btn-amarelo {
        background-color: yellow;
        color: black;
    }

    &.btn-azul {
        background-color: blue;
        color: white;
    }
}

//só pega todos parametros se no html ter a classe btn. porém podemos usar o extend
.btn-roxo {
    @extend .btn;
    background-color: purple;
    color: white;
}